/* THUMBNAILS CLASS 
 * -------------------------- */

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.thumbnails-box {
    text-align: center;
}

.item {
    display: flex;
    flex-wrap: wrap;
}

.scroll {
    overflow-y: scroll;
    margin-left: 25%;
    margin-top: 40px;
}

.thumbnail {
    background-color: #f4f4f4;
    border: 2px solid #1c2027;
    height: 410px;
    margin-right: 20px;
    padding: 0;
    width: 240px;
}

.header img {
    border-radius: 80px;
    border: 7px solid #d8dbdb;
    height: 120px;
    margin-top: 35px;
    margin-bottom: 20px;
    width: 120px;
}

.header a {
    color: #444444;
    text-decoration: none;
}

.students-header {
    color: #444444;
    font-size: 30px;
}


.tech {
    margin-top: 20px;
}

.tech .item {
    justify-content: center;
}

.bg-item {
    background-color: #21252c;
    height: 50px;
}

.tech-items {
    color: white;
    border-right: 3px solid #242931;
    padding-top: 15px;
    padding-right: 25px;
}

.tech-items:last-child {
    border-right: none;
}

.description-text {
    color: #999999;
    font-size: 16px;
    padding: 15px 10px 10px 10px;
}
