/* --------------------------
 *  custom CSS
 * -------------------------- */


/*---------------------------
 * SEE ALL PROJECTS LINK & MORE APPLICANTS
 ---------------------------*/

.main-buttons {
    font-size: 18px;
    margin-top: 27px;
}

.main-buttons a {
    color: #555555;
    text-decoration: none;
    margin-right: 50px;
}
.main-buttons a:hover {
    color: #ef5285;
}
.main-buttons i {
    margin-right: 10px;
    transition: all 0.2s ease-out;
}

/*---------------------------
 * MAIN MENU
 ---------------------------*/

#menu li {
    display: inline-block;
    margin: 10px;
    color: #000;
}

#menu li a {
    color: #000;
    font-size: 20px;
    text-decoration: none;
}


/*
#menu li:hover{
    background: rgba(255,255,255, 0.5);
}*/

#menu li a,
#menu li.active a {
    padding: 9px 18px;
    display: block;
}

#menu li.active a {
    color: #fff;
    border-bottom: 5px solid #009ee2;
    padding-bottom: 15px;
}

#menu li.active a {
    color: #fff;
    border-bottom: 5px solid #009ee2;
    padding-bottom: 15px;
}

#menu {
    position: absolute;
    height: 80px;
    width: 100%;
    top: 0;
}


/*---------------------------
 * RIGHT MENU
 ---------------------------*/

#menu .right-menu {
    position: absolute;
    right: 0;
}

#menu .right-menu i {
    margin-right: 10px;
}

#menu li a{
    color: #555555;
    padding-left: 0;
}

.right-menu a {
    border-bottom: 5px solid #ef5285;
}

.right-menu {
    display: inline-block;
}


/*---------------------------
 * TITLES
 ---------------------------*/

.apply {
    margin-top: -20px;
    font-size: 70px;
}


/*---------------------------
 * MODAL
 ---------------------------*/

.modal-header,
.modal-body,
.modal-footer {
    background: #C6FFA2;
}

.modal-header {
    border-bottom: 0;
}

.modal-content {
    border-radius: 10px;
}


/*---------------------------
 * LOGIN
 ---------------------------*/
.open-login {
    cursor: pointer;
}

.login {
    display: inline-block;
}

.login.form-success .container h1 {
    transform: translateY(85px);
}

.container-login {
    text-align: center;
}

.container-login h1 {
    font-size: 40px;
    transition-duration: 1s;
    transition-timing-function: ease-in-put;
}

form {
    padding: 0 0 20px 0;
    position: relative;
    z-index: 2;
}

form input {
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    transition-duration: 0.25s;
    font-weight: 300;
}

form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

form input:focus {
    background-color: white;
    width: 300px;
    color: #53e3a6;
}

form button {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #53e3a6;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}

form button:hover {
    background-color: #f5f7f9;
}

.regis p {
    color: #1c2027;
    padding-top: 3px;
    font-size: 16px;
}


/*---------------------------
 * 9 RANDOM ALUMNI
 ---------------------------*/

.header h1 a {
    text-decoration:
}

/*---------------------------
 * CUSTOM
 ---------------------------*/

#fullpage {
    margin-top: 250px; 
}
