/* -------------------------- */
/* THUMBNAILS CLASS FROM SECTION 2
 * -------------------------- */

.first-container {
	margin-top: 40px;
}

.item {
    display: flex;
    justify-content: space-around;
}

.thumbnail {
	background-color: #1c2027;
	border-color: #1c2027;
	height: 390px;
	width: 320px;
}

.header img{
	border-radius: 80px;
	height: 140px;
	margin-top: 40px;
	margin-bottom: 20px;
	width: 140px;
}

.header h1 {
	color: white;
}

.students-header {
	font-size: 30px;
}

.tech {
	margin-top: 20px;
}

.bg-item {
	background-color: #21252c;
	height: 50px;
}

.tech-items {
	color: white;
	border-right: 3px solid #242931;
	padding-top: 15px;
	padding-right: 25px;
}

.tech-items:last-child {
	border-right: none;
}

.description-text {
	color: white;
	font-size: 16px;
	padding: 15px 10px 10px 10px;

}



